{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'pal1.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body >
    <div class="center">
    <form action="{% url 'myfun' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter your name" required><br>
    <input type="number" name="age" placeholder="enter your age"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="mobile" name="mobile" placeholder="mobile" required><br>
    <input type="submit" value="submit">
</form>
</div>
<div class="center">
<a href="{% url 'home' %}"><b>show data</b></a> 
</div>
</body>
</html>